<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido</title>
</head>
<body>
    <h1>Mis carros favoritos</h1>
    <ul>
        <li><a href="../index.html" title="Inicio">Inicio</a></li>
        <li><a href="content.html" title="Contenido">Contenido</a></li>
        <li><a href="contact.html" title="Contacto">Contacto</a></li>
    </ul>
    <hr/>
    <h2>Tabla de contenidos</h2>
    <table border="1">
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Imagen</th>
        </tr>
        <tr>
            <td>
                BMW 
            </td>
            <td>
                M3 GTR E46
            </td>
            <td>2001</td>
            <td>
                <img src="../assets/imgs/cars/bmw-m3-e46-gtr-p.jpg" alt="bmw-m3-e46-gtr-p" width="240" height="110">
            </td>
        </tr>
        <tr>
            <td>
                Mitsubishi 
            </td>
            <td>
                Eclipse
            </td>
            <td>1995</td>
            <td>
                <img src="../assets/imgs/cars/eclipse.jpg" alt="eclipse" width="220" height="115">
            </td>
        </tr>
        <tr>
            <td>
                Chevrolet 
            </td>
            <td>
                SS
            </td>
            <td>2012</td>
            <td>
                <img src="../assets/imgs/cars/camaro-ss-2012.jfif" alt="eclipse" width="200" height="115">
            </td>
        </tr>
    </table>
</body>
</html>