/* .containerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
} */
mat-grid-list {
    padding: 1%;
}

mat-grid-tile {
    padding: 1%;
}

mat-grid-tile div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.material-icons {
    font-size: 30px;
}

.material-icons {
    height: 30px;
    width: 30px;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}
