<mat-grid-list cols="5" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto input izquierda</mat-label>
        <input matInput required />
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
      fontIcon="sync_alt"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto input derecha</mat-label>
        <input matInput required />
      </mat-form-field>
    </div> 
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto input izquierda</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
      fontIcon="sync_alt"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto input derecha</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto input izquierda</mat-label>
        <input matInput required />
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="align-items: center;">
      <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
        fontIcon="chevron_right" style="margin-bottom: 5px;">
      </mat-icon>
      <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
        fontIcon="chevron_left">
      </mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto input derecha</mat-label>
        <input matInput required />
      </mat-form-field>
    </div> 
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto input izquierda</mat-label>
        <input matInput required />
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
      fontIcon="sync_alt" style="background-color: black; color: aliceblue;"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto input derecha</mat-label>
        <input matInput required />
      </mat-form-field>
    </div> 
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto textarea izquierda</mat-label>
        <textarea matInput required></textarea>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
      fontIcon="sync_alt" style="background-color: black; color: aliceblue;"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto textarea derecha</mat-label>
        <textarea matInput required></textarea>
      </mat-form-field>
    </div> 
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título izquierda</label>
      <mat-form-field>
        <mat-label>Texto input izquierda</mat-label>
        <input matInput required />
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="align-items: center;">
      <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
        fontIcon="chevron_right" style="background-color: black; color: aliceblue; margin-bottom: 5px;">
      </mat-icon>
      <mat-icon aria-hidden="false" aria-label="bidirectional arrows"
        fontIcon="chevron_left" style="background-color: black; color: aliceblue;">
      </mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div>
      <label>Título derecha</label>
      <mat-form-field>
        <mat-label>Texto input derecha</mat-label>
        <input matInput required />
      </mat-form-field>
    </div> 
  </mat-grid-tile>
</mat-grid-list>
<!-- <form class="containerForm">
  <div>
  </div>

  <label>Título izquierda (Textarea)</label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <label>Título izquierda (Textarea)</label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <label>Título izquierda (input)</label>
  <mat-form-field>
    <mat-label>Texto izquierda (Input)</mat-label>
    <input matInput required />
  </mat-form-field>
  <label>Título izquierda (Textarea)</label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <label>Título izquierda (Textarea)</label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <label>Título izquierda (Textarea)</label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
</form> -->