.container {
    width: 80%;
    height: 700px;
}

.content {
    font-size: larger;
    font-style: italic;
}

h1 {
    color: rgb(3, 167, 131);
    font-size: xx-large;
    font-weight: 600;
}

table {
    width: 600px;
    border: 2px solid rgb(140 140 140);
    font:
      16px "Open Sans",
      Helvetica,
      Arial,
      sans-serif;
  }
  
  thead > tr,
  tfoot > tr {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    text-align: center;
    
  }

  td:hover {
    cursor: pointer;
    background-color: rgb(255, 229, 80);
  }

  .tableIds {
    background-color: rgb(233, 248, 166);
  }
  